#home {
  --accent-1: var(--green-palette-1);
  --accent-2: var(--green-palette-2);
  --accent-3: var(--green-palette-3);
  --accent-4: var(--green-palette-4);
  --accent-5: var(--green-palette-5);
  --accent-6: var(--green-palette-6);
}
.heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
}

.keyword {
  position: relative;
  text-decoration: underline dotted rgb(155, 155, 155);
  transition: 0.3s all;
  cursor: pointer;
}
.keyword:hover {
  text-decoration-color: var(--accent-1);
  color: var(--accent-1);
}
.keyword:hover .info {
  opacity: 1;
  pointer-events: initial;
}
.info {
  transition: 0.3s opacity;
  display: inline-block;
  width: 20rem;
  position: absolute;
  opacity: 0;
  bottom: 100%;
  left: -50%;
  padding: 0.75rem;
  /* border: 1px solid rgb(214, 214, 214); */
  border-radius: 9px;
  pointer-events: none;
  color: var(--font-color);
  overflow: hidden;
  background: var(--background-main);
}
.info::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--accent-1);
  opacity: 0.1;
}
.example {
  color: var(--accent-1);
  display: block;
}
