.decliner-root-word,
.decliner-declension-select {
  --accent: var(--accent-1);
  border: 1px solid var(--accent);
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: 110%;
}
.decliner-root-word:focus,
.decliner-declension-select:focus {
  outline: none;
  box-shadow: 0px 0px 10px var(--accent);
}
.decliner-declension-select {
  margin-left: 2rem;
}
