.decliner {
  --padding: 0.5rem;
}
.decliner-form {
  max-width: 50rem;
}

.decliner-group {
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
}

.decliner-group::before {
  /* position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--accent-2);
  opacity: 0.02;
  border-radius: inherit;
  z-index: -1; */
}

.label,
.decliner-field {
  --accent: var(--accent-1);
  /* --accent: var(--foreground-main); */
  display: block;
}

.decliner-field {
  font-size: 110%;
  padding: var(--padding) calc(var(--padding) * 2);
  border: 1px solid var(--accent);
  border-radius: 2rem;
  background: transparent;
  caret-color: var(--accent);
  width: 100%;
  margin-top: 0;
}

.decliner-field::placeholder {
  color: var(--accent);
  opacity: 0.5;
}
.decliner-field:focus {
  outline: none;
  box-shadow: 0px 0px 10px var(--accent);
}

.label {
  color: var(--accent);
  /* text-transform: uppercase; */
  font-weight: bold;
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  margin-left: 1rem;
  font-size: 80%;
  transition: 0.4s all;
  transform: none;
  opacity: 1;
}

.label.hide {
  opacity: 0;
  transform: translateY(160%);
}

.decliner-nominative-word {
}

.decliner-genitive-word {
}

.decliner-stem-word {
  --accent: var(--accent-3);
}

.decliner-declension-select {
  --accent: var(--foreground-main);
  min-width: 20rem;
  margin: auto;
  margin-top: 1rem;
  color: var(--accent);
}

.decliner-form p {
  text-align: center;
  margin: 0.2rem 0;
  text-transform: uppercase;
}

.decliner .declension-table-title {
  position: relative;
  color: var(--background-main);
  z-index: 0;
}
.decliner .declension-table-title::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--accent-1);
  opacity: 0.8;
  z-index: -1;
}

@media (max-width: 768px) {
}
