.declension-table {
  border: 1px solid rgba(138, 138, 138, 0.308);
  border-collapse: collapse;
  display: inline-block;
  vertical-align: top;
  margin: 1rem;
  font-weight: bold;
  border-radius: 9px;
  overflow: hidden;
}
.declension-table.decliner {
  border: 1px solid var(--accent-1);
}
.declension-table.tentative .root-word {
  opacity: 0.5;
}

.declension-table-title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgba(189, 189, 189, 0.438);
  padding: 0.5rem;
}

.declension-table td,
.declension-table th {
  /* border: 1px solid rgba(255, 255, 255, 0.308); */
  border-right: none;
  border-left: none;
  padding: 0.25rem 0.5rem;
  vertical-align: top;
}
.declension-table.decliner .declination {
  letter-spacing: 0.05rem;
}

.singular,
.plural {
  text-align: center;
}

.case-column,
.singular-column,
.plural-column {
  width: 7rem;
}

.case {
  text-align: left;
  text-transform: capitalize;
}

.nominative {
  color: var(--accent-1);
}
.genitive {
  color: var(--accent-2);
}
.dative {
  color: var(--accent-3);
}
.accusative {
  color: var(--accent-4);
}
.ablative {
  color: var(--accent-5);
}
.vocative {
  color: var(--accent-6);
}
.root-word {
  color: var(--light-text);
}
.use-cases {
  color: var(--light-text-2);
  display: block;
  margin: 0;
  width: 100%;
  text-transform: lowercase;
}

@media (max-width: 768px) {
  .declension-table {
    width: 100%;
    margin: 1rem 0;
  }

  .case-column,
  .singular-column,
  .plural-column {
    width: 30%;
  }
}
